body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-attachment: fixed;
    min-height: 20%;
    padding: 10px 20px;
}

.left, .right {
    align-items: center;
}

.info {
   gap: 15px;
}

section {
    display: inline-block;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
}



.content-wrapper {
    width: 70%;
    margin: 20px auto;
}

.text-container {
    flex: 1;
    padding: 8px;
    margin-bottom: -2em;
}

.img-container {
    flex: 2;
    margin-bottom: -5em;
}

.img-container img {
    max-width: 100%;
    max-height: 100%;
}

.white {
    flex-direction: column;
    align-items: center;
}

.white .titolo-uno {
    justify-content: flex-start;
}

.white .imgscroll {
    justify-content: flex-start;
}

.mod {
    margin-top: 7em;
    width: 60%;
}

.options {
    display: flex;
    justify-content: flex-start;
    width: 60%; 
    margin: 1em auto;
}

.custom-option input[type="radio"] {
    display: none;
}

.custom-radio {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #090909;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.custom-option input[type="radio"]:checked + .custom-radio {
    border: 3px solid #0a7ce0;
}

.radio-text {
    vertical-align: middle; 
    margin-left: 10px; 
}

.columns-wrapper {
    display: flex;
    justify-content: center;
    width: 60%; 
    margin: 0 auto;
}

.column {
    width: calc(33.33% - 1em);
    border: 1px solid #ddd;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    text-align: center;
    margin-right: 3em; 
    box-sizing: border-box; 
    float: left; 
    padding: 2% 2%;
}

.column:last-child {
    margin-right: 0;
}

button:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.list {
    list-style-type: none; 
    padding: 0; 
    margin-left: 1px;  
}

.list li {
    display: flex;  
    align-items: center;  
    padding-bottom: 10px; 
}

.list li i {
    margin-right: 10px;  
}

.full-width-column {
    width: 60%;
    box-sizing: border-box; 
    border: 1px solid #ddd;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 2%;
    clear: both; 
}

.full-width-section {
    align-items: center; 
    width: 60%;
    padding: 1px 0; 
}

.img-part{
    flex: 2;
}

.text-part {
    flex: 1; 
}

.img-part img {
    max-width: 100%; 
    height: auto;
}

.cards-container {
    flex-wrap: wrap;
    margin-top: 20px; 
}

.card-row {
    width: 100%; 
    margin-bottom: 20px;
}

.card {
    flex: 1;  
    text-align: center; 
    margin: 0 10px;
}

.card img {
    max-width: 100%; 
    height: auto;
    margin-bottom: 15px; 
}

.max-w-80 {
    max-width: 50%; 
}

.max-h-80 {
    max-height: 50%; 
}

.hover-text {
    display: none;  
    padding: 5px;
    margin-top: 5px; 
}

h2:hover .hover-text {
    display: block;  
}
